{#
/**
 * @file
 * Theme override to display a block as a Bootstrap card.
 */
#}


{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main content
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}
{% if elements['#from_layout_builder'] %}
   {% set content = elements.content %}
   {% set label = elements.label[0] %}
   {% set card_classes = elements['#card_classes'] %}
   {% set header_classes = elements['#header_classes'] %}
   {% set body_classes = elements['#body_classes'] %}
{% endif %}
{%
  set classes = [
    'block-removed-class',
    'block-' ~ configuration.provider|clean_class,
    'card',
    'mb-4',
    card_classes
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {% if label %}
    <div class="card-header {{ header_classes }}">
      {{ title_prefix }}
        <h2 class="card-title">{{ label }}</h2>
      {{ title_suffix }}
    </div>
  {% endif %}
  <div class="card-body {{ body_classes }} ">
    {% block content %}
      <div{{ content_attributes.addClass('content, card-text') }}>
        {{ content }}
      </div>
    {% endblock %}

  </div>

  {% if id == 'bt_toc_block' and add_affix_control %}
  <div class="card-footer text-end text-right">
    <button type="button" id="toggle-sticky" class="btn toc-button unpin-button" data-bs-toggle="tooltip" data-bs-placement="top" title="Pin/Unpin TOC"></button>
  </div>
  
  {% endif %}
</div>
